/*************************************************************************/
//                        Common Variables                               //
/*************************************************************************/

$white: #fff !important;
$black: #000 !important;
$common-font-family: 'Lato', sans-serif!important;
$green: #00c8aa;
$themeClr:#353c48;
$darkColor:#353c48;
$borderColor:#414354;
$gray: #cacaca;
$time: 1s;
$multiplier: 1;
$by: 100/$multiplier;
$height: 24px;
$mobile : "only screen and (min-width:320px) and (max-width:767px)";
$tablet : "only screen and (min-width: 768px) and (max-width:1108px)";
$common-font-family: 'Lato', sans-serif!important;